<div class="container">
  <div class="form">
    <div class="form-title">
      <h2>Nouvelle question</h2>
    </div>

    <div class="form-table">
      <%= simple_form_for [@question] do |f| %>
        <%= f.input :title, label: 'Que voulez-vous savoir?', placeholder: 'Votre question' %>
        <%= f.input :body, label: 'Description', placeholder: 'Ajoutez une description' %>
        <%= f.button :submit, value: "Shine!", class: "btn-main"%>
      <% end %>
    </div>
  </div>
</div>
