 // Define variables for your color scheme

// For example:


$black: #484848;
$white: #ffffff;
$light-gray: #f7f7F7;
$gray: #dfdfdf; // medium-gray
$blue: #101e3d; // dark blue
$blue-pop: #4FC3F7;
$yellow: #FEA300;
$dark-red: #D23333; // NOT MAIN
$red: #D23333;
$orange: #E67E22; // DONT'T USE
$green: #32B796; // DONT'T USE

