.banner-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position: center;
  text-align: center;
  top: -140px;
  position: relative;
  h1 {
    color: $blue-pop;
    font-weight: bold;
  }
  h4 {
    color: white;
    opacity: .8;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
    background: $blue;
  }
  h2 {
    color: $yellow;
  }
}


.banner-content {
  margin-top: 150px;

  h1 {
    font-size: 64px;
  }
}

.btn-new {
  margin: 25px 0 0 0;
  display: inline-block;
}

.btn-main {
  margin: 25px 0 0 0;
  display: inline-block;
  background-color: $blue-pop;
}

.row {
  text-align: center;
}

.home {
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 2em;
}

.text1 {
  padding-left: 47px;
}

.text2 {
  margin-right: 70px;
  margin-top: 190px;
  margin-left: 30px;
}
.text1, .text3 {
  margin-top: -48px;
}

.content-min-height {
  min-height: calc(100vh - 70px);
  background-size: cover;
  padding-bottom: 25px;
}


.video-container {
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 70px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.wrapper {
  margin-top: 30px;
  padding: 30px;
}

.card-icon {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  text-align: center;
  background-color: $yellow;
  padding: 50px;
  box-shadow: 1px 1px 3px #eaeaea;

  p {
    color: $blue;
  }
}




















