<div>
  <div><%= answer.get_upvotes.size %></div>
  <%= link_to like_answer_path(answer), method: :put, remote: true do %>
    <div><i class="fa fa-heart big-icon shake-slow"></i>
    </div>
  <% end %>
</div>
