
  <%= simple_form_for [question, answer], remote: true do |f| %>
    <div class="answer-new-form">
      <%= f.input :body, label: false, placeholder: 'Et toi, quelle est ta réponse ?', input_html: { class: "answer-form-new", rows: 3}  %>
      <%= f.button :submit, "Ajoute ta réponse", class: "btn-answer-new" %>
    </div>
  <% end %>
