<div class="text-dis">
    <div class="dis-container-yellow">
      <h2>La maladie, quelle saleté...</h2>
      <h4>Vous n'êtes pas seul ici !</h4>
      <p>Une étape pour se battre au quotidien et ne pas se laisser aller moins bien est de bien connaître sa maladie.</p>
      <p>Ici, vous avez accès à des infos digestes validées par des <strong>professionnels</strong>.</p>
    </div>

    <div class="dis-container-blue">
      <h2>Vous souffrez de <%= @disease.name %></h2>
      <p><%= @disease.disease_explanation %></p>
    </div>
    <div class="dis-container-yellow">
      <h3>Les symptômes</h3>
      <p>Les symptômes usuels sont : <%= @disease.symptomes %>
        Les symptômes sont l'ensemble des effets physiques de la maladie.
      </p>
    </div>
    <div class="dis-container-blue">
      <h3>Combattre</h3>
      <p>Mes armes : <%= @disease.usual_medication %></p>
    </div>
  </div>
</div>



