<div class="container">
  <div class="card-wrap">
  <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h2>Diabete</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h2>Diabete de type 1</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h2>Diabete de type 2</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h2>Diabete gestationnel</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h2>Diabete et grossesse</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h2>Hyperglycemie</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h2>Hypoglycemie</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h2>Complications</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h2>Prise en charge</h2>
        </div>
      </div>
  </div>
  </div>
</div>


