<div class="banner-home">
  <div class="video-container">
    <div class="video-with-filter">
      <%= video_tag("video", autoplay: true, muted: true, loop: true) %>
      <div class="video-filter"></div>
    </div>
  </div>
  <div class="banner-content">
    <h1>Shinier</h1>
    <h2>Ne reste plus dans l'ombre</h2>
    <%= link_to "Rejoins-nous !", new_user_session_path, :class => "btn-new" %>
  </div>
</div>


<!-- <div class="container">
    <h1>Nos valeurs</h1>
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="value">

        </div>
        <div class="card-icon">
          <h4>Communauté</h4>
        </div>
      </div>
       <div class="col-xs-12 col-sm-3">
        <div class="value">
        </div>
        <div class="card-icon">
          <h4>Partage</h4>

        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="value">
        </div>
        <div class="card-icon">
          <h4>Information</h4>

        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="value">
        </div>
        <div class="card-icon">
          <h4>Bienveillance</h4>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- <div class="container">
  <div class="row">
    <h3>Mieux se connaître soit-même, grâce aux autres</h3>
    <p>Shinier est un site collaboartif où chacun peut s'exprimer librement sur sa maladie. Il est possible de venir en aide, d'apporter conseils et de créer de nouveaux liens avec des personnes réunies autour d'une même pathologie.</p>
  </div>
</div>
<div class="home" style="background-image: url(https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ebe5bb8654d3816c9d934ff455abffb2&auto=format&fit=crop&w=1633&q=80);">
  <div class="text1">
    <h4>Accédez à un groupe solidaire</h4>
  </div>
  <div class="text2">
    <h4>Partagez votre expérience et recevez celle des autres</h4>
  </div>
  <div class="text3">
    <h4>Trouvez des réponses</h4>
  </div>
</div> -->
