<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1432059964050-d4eba2ef368a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6e8e41824f404aa1c158ea165764076&auto=format&fit=crop&w=2389&q=80);">
  <div class="banner-content">
    <h1>Shinier</h1>
    <h2>Et si la maladie chronique pouvait aussi réunir?</h2>
    <%= link_to "identifiez-vous", new_user_session_path %>
  </div>
</div>
<div class="container">
  <div class="container-content">
    <div class="row">
      <h3>Se connaître mieux soit-même, grâce aux autres</h3>
      <p>Shinier est un site collaboartif où chacun peut s'exprimer librement sur sa maladie. Il est possible de venir en aide, apporter conseils et de créér de nouveaux liens avec des personnes réunies autour d'une même pathologie.</p>
    </div>
    <div class="row">

    </div>
  </div>
</div>
