.background-img {
  background-repeat: no-repeat;
  height: calc(100vh);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}


.background-img-show {
  background-repeat: no-repeat;
  height: calc(100vh);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

