.dis-container {
  // padding: auto;
  border: dashed 2px red;
  width: 80%;
  margin: 0 auto;
}

.text-dis {
  text-align: center;
  width: 100%;
  height: 100%;
  // position: relative;
}

.test {
  border: solid 1px darkgreen;
  position: fixed;

}
