.intro {
  margin: 40px;
}

.flip-results {
  display: flex;
  flex-wrap: wrap;
}

.flip-content,
.flip-box,
.front,
.back {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.flip-content,
.flip_box {
  position: relative;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-content {
  perspective: 1200px;
}

.flip_box {
  transition: all 0.5s ease-out;
  transform-style: preserve-3d;
}

.front {
  background-color: $yellow-light;
  color: $black;
 }

.f_title {
  padding: 30px 20px 20px 10px;

}

.f_subline {
  padding: 30px 20px 20px 10px;
}

.f_headline {
}

.back {
  background-color: $blue-pop;
  transform: rotateY(180deg);
  color: $black;
}

.b_headline {
  padding: 30px 20px 20px 10px;
}

.b_text {
  padding: 30px 20px 20px 10px;
}

.b_button {
  border: 1px solid #C30C3D;
  border-radius: 50px;
  padding-bottom: 2px;
  position: absolute;
  font-weight: lighter;
  left: 36px;
  bottom: 38px;
  width: 150px;
  height: 52px;
  background-color: $dark-red;
  transition: all 0.3s ease;
  text-decoration: none;
  color: $white;

  &:hover {
  opacity: 1;
  background: $yellow-light;
  border-color: $yellow-light;
  }
}


.flipped {
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: 40px;
  bottom: 38px;
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $dark-red;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: $dark-red;
}

.b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover {
  background-color: #F60044;
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  background-color: #C30C3D;
}

.s_arrow {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}
