.footer {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: $black;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $blue;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 20px;
}
.footer-links a:hover {
  color: $blue-pop;
  opacity: 1;
}
.footer .fa-heart {
  color: $dark-red;
}
