
.form {
  padding: 10px 20px;
  background: $white none repeat scroll 0% 0%;
  border-radius: 4px;
  width: 40% ;
  opacity: 0.95;
  margin-top: 50px;
  color: $black;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.form-title h2 {
  font-weight: bold;
  color: $black;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  padding-bottom: 20px;
  line-height: 46px;
  border-bottom: 1px solid $gray;
}

.form-content {
  color: $black;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}


.btn-form {
  color: $black;
  border: 1px solid $blue-pop;
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: $blue-pop;
  transition: background 0.3s ease;
  text-decoration: none;
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 20px;

  &:hover {
  opacity: 1;
  background: $blue;
  border-color: $blue;
  color: $white;
  }

}


.form-control-label {
  font-weight: normal;
}

.file {
  font-weight: normal;
}

.form-check-label {
  font-weight: normal;
}
