// Import your components CSS files here.
@import "alert";
@import "background";
@import "banner";
@import "buttons";
@import "card_disease";
@import "cards_profile";
@import "flip_card";
@import "footer";
@import "forms";
@import "navbar";
@import "questions";
@import "side_navbar";
@import "shake";
@import "tooltip";
