div#allo ul {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.lu {
  font-size: 12px;
}

.tout-lu {
  background: $blue-pop;
  color: white;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $white;
  }

}

#allo {
  padding-top: 22px
}

#bob {
  display: inline-block;
}


div#allo ul > * {
    width: 100%;
    padding: 10px;
}

div#allo ul li a {
    padding: 0;
}


.notification-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-wagon-item .fa-bell {
  font-size: 24px;
  padding: 0px !important;
}

.bell-full-pink {
  color: $pink-pop !important;
}
