
// QUESTION

.question-big-box {
  display: flex;
  width: 1000px;
  align-items: center;
  margin-top: 40px;
}

.question-pic-name {
  // flex: 0 0 20%;
  width: 200px;
  color: $white;
  h5 {
    padding: 10px;
  }
}

.avatar-question-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.question-msg-show {
  // flex: 0 0 75%;
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  background: $white;
  text-align: left;
  opacity: 0.9;
}

.question-msg-show-title-validation {
  display: flex;
}

.question-msg-show-title {
  // flex: 0 0 80%;
  width: 600px;
  color: $blue-pop;
  font-weight: bold;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  p {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }
}

.validation {
  width: 150px;
  // flex: 0 0 25%;
  margin-top: 11px;
  color: $blue-pop;
  font-size: 12px;
  text-align: right;
  i {
    color: $blue-pop;
    font-size: 16px;
  }
}

.question-msg-show-details {
  width: 750px;
  color: $black;
  p {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }
}

.question-msg-show-date {
  color: $blue-pop;
}

.tag-and-resolue {
  display: flex;
  width: 760px;
  align-items: center;
}

#tag_cloud {
  width: 520px;
  // flex: 0 0 80%;
  a {
  color: $black;
  border: 1px solid $blue-pop;
  padding: 5px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: $white;
  transition: background 0.3s ease;
  text-decoration: none;
  list-style: none;
  width: 130px;
  line-height: 0.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
    &:hover {
    opacity: 1;
    background: $white;
    color: $black;
    text-decoration: none;
    }
  }
}


.filters {
  .list-inline > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
  }
}

.resolue {
  width: 230px;
  // flex: 0 0 20%;
  text-align: right;
  font-size: 16px;
  h5 {
    color: $blue-pop;
  }
  .h5-pink {
    color: $pink-pop;
  }
}

.big-pink-icon {
  font-size: 24px;
  color: $pink-pop;
}


.big-blue-icon {
  font-size: 24px;
  color: $blue-pop;
}


// ANSWER


.answers {
  margin-top: 10px;
}

.answer-details-upvotes {
  display: flex;
  width: 800px;
  align-items: center;
}

.top {
  color: $pink-pop;
}

.answer-details {
  // flex: 0 0 80%;
  width: 600px;
  p {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }
}

.upvotes {
  // flex: 0 0 10%;
  width: 100px;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: thin;
  font-size: 32px;
  line-height: 30px;

}


.count {
  margin: 10px 0 0;
}


.answer-new-form {
  display: flex;
  width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.answer-form-new {
  width: 600px;
  border-radius: 5px;
  box-shadow: none;
  width: 650px;
  height: 20px;
  margin-right: 18px;
}

.btn-answer-new {
  background-color: $pink-pop;
  border-radius: 5px;
  font-family: $buttons-font;
  height: 80px;
  width: 135px;
}

