// SEARCH BAR


.index-search-bar {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 20px 0px;
}


// FILTERS

.filters {
  .list-inline > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// QUESTION

.question-big-box {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.question-pic-name {
  flex: 0 0 20%;
}

.avatar-question-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.question-msg-show {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background: $white;
  text-align: left;
  opacity: 0.9;
}

.question-msg-show-title-validation {
  display: flex;
}

.question-msg-show-title {
  flex: 0 0 80%;
  color: $blue-purple;
  font-weight: bold;
  margin-top: 0px;
}

.validation {
  flex: 0 0 25%;
  margin-top: 11px;
  color: $pink-pop;
  font-size: 12px;
  i {
    color: $pink-pop;
    font-size: 16px;
  }
}

.question-msg-show-details {
  color: $black;
}

.question-msg-show-date {
  color: $blue-purple;
}

.tag-and-resolue {
  display: flex;
}

#tag_cloud {
  flex: 0 0 80%;
  a {
  color: $black;
  border: 1px solid $pink-pop;
  padding: 5px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: $white;
  transition: background 0.3s ease;
  text-decoration: none;
  list-style: none;
    &:hover {
    opacity: 1;
    background: $white;
    color: $black;
    text-decoration: none;
    }
  width: 130px;
  line-height: 0.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
  }
}

.resolue {
  flex: 0 0 20%;
  text-align: right;
}

.question-message-show {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  background-color: $blue-pop;
  transition: 0.3s ease;
  // position: relative;
  margin-top: 30px;
  &:hover {
    background: $yellow-light;
  }

}


.title {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 20px 0px;
  font-weight: bolder;
}

.question-msg {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid $gray;
  border-radius: 3px;
  background-color: $white;
  transition: 0.3s ease;
  // position: relative;
  margin-top: 30px;
  &:hover {
    background: $yellow-light;
  }
}


.question-title-resolue {
  display: flex;
}

.question-message:last-child {
  border-bottom: none;
}

.question-content {
  width: 100%;
}

.question-short {
  text-align: left;
  padding-left: 20px;
}

.question-title {
  text-align: left;
  flex: 0 0 80%;
}



.link {
  flex: 0 0 10%;
  position: absolute;
  top: 40px;
  right: 20px;
  a {
  font-size: 48px;
  color: $yellow;
  transition: color 0.3s ease;
    &:hover {
    color: $blue-pop;
    }
  }
}

// ANSWER


.answers {
  margin-top: 10px;
}

.answer-details-upvotes {
  display: flex;
}

.answer-details {
  flex: 0 0 80%;
}

.upvotes {
  flex: 0 0 10%;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: thin;
  font-size: 24px;
}


.count {
  margin: 10px 0 0;
}


.question-show {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}




#need {
  color: $dark-red;
}

.big-icon {
  font-size: 24px;
  color: $pink-pop;
}

