.index-search-bar {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 20px 0px;
}

#tag_cloud a {
  color: $black;
  border: 1px solid $yellow;
  padding: 1px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: $white;
  transition: background 0.3s ease;
  text-decoration: none;
  list-style: none;
  &:hover {
  opacity: 1;
  background: $white;
  color: $black;
  text-decoration: none;
  }
  width: 130px;
  line-height: 0.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}


.filters {
  .list-inline > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
  }
}

.title {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 20px 0px;
  font-weight: bolder;
}

.question-message {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid $gray;
  border-radius: 3px;
  background-color: $white;
  transition: 0.3s ease;
  position: relative;
  margin-top: 30px;
  &:hover {
    background: $yellow-light;
  }
}

.question-message-show {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  background-color: $blue-pop;
  transition: 0.3s ease;
  position: relative;
  margin-top: 30px;
  &:hover {
    background: $yellow-light;
  }

}

.question-title-resolue {
  display: flex;
}

.question-message:last-child {
  border-bottom: none;
}

.question-content {
  width: 100%;
}

.question-short {
  text-align: left;
  padding-left: 20px;
}

.question-title {
  text-align: left;
  flex: 0 0 80%;
}

.resolue {
  flex: 0 0 20%;
  padding: 10px;
}

.link {
  flex: 0 0 10%;
  position: absolute;
  top: 40px;
  right: 20px;
  a {
  font-size: 48px;
  color: $yellow;
  transition: color 0.3s ease;
    &:hover {
    color: $blue-pop;
    }
  }
}

.answers {
  display: flex;
  margin-top: 10px;
}

.upvotes {
  flex: 0 0 20%;
  padding-right: 10px;
  text-align: center;
  font-weight: thin;
  font-size: 32px;
  line-height: 50px;
}

.top-answer {
  flex: 0 0 80%;
  text-align: left;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: $light-gray;
  padding: 10px;

}

.count {
  margin: 10px 0 0;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 40px solid transparent;
  border-bottom: 24px solid $blue-pop;
  border-radius: 2px;
  margin: auto;
}

.arrow-top {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 24px solid $white;
  border-radius: 2px;
  margin: auto;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 40px solid transparent;
  border-bottom: 24px solid $red;
  border-radius: 2px;
  margin: auto;
}

.question-show {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}


.validation {
  position: absolute;
  top: 30px;
  right: 30px;
  i {
    color: $yellow;
  }
}

#need {
  color: $dark-red;
}

.big-icon {
  font-size: 24px;
}

